<div class="jumbotron form-center">
<%= form_with(model: leafe, local: true) do |form| %>
  <% if leafe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leafe.errors.count, "error") %> prohibited this leafe from being saved:</h2>

      <ul>
      <% leafe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.number_field :employee_id %>
  </div>

  <div class="field">
    <%= form.label :leave_details_id %>
    <%= form.number_field :leave_details_id %>
  </div>

  <div class="field">
    <%= form.label :date_stated %>
    <%= form.date_select :date_stated %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
