<%= form_with(model: deduction_detail, local: true) do |form| %>
  <% if deduction_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deduction_detail.errors.count, "error") %> prohibited this deduction_detail from being saved:</h2>

      <ul>
      <% deduction_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :percentage %>
    <%= form.text_field :percentage %>
  </div>

  <div class="field">
    <%= form.label :fixed_deduction %>
    <%= form.text_field :fixed_deduction %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
