<%= form_with(model: attendance, local: true) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if flash[:notice].present? %>
    <%= flash[:notice] %>
  <% end %>

  <div class="field">
    <%= form.label :time_in %>
    <%= form.time_select :time_in %>
  </div>

  <div class="field">
    <%= form.label :time_out %>
    <%= form.time_select :time_out %>
  </div>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.select :employee_id, options_from_collection_for_select(@employees, :id, :name, attendance.employee_id)%>
  </div>

  <div class="field">
    <%= form.label :day_type %>
    <%= form.select :day_type, options_from_collection_for_select(@day_types, :id, :date_created, attendance.day_type) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
