<p id="notice"><%= notice %></p>

<h1>Attendances</h1>
<hr>
<div class="jumbotron">  
<div class="model-information">
  <select name="day_id" id="dayselect" class="form-control margin-normal" onchange="dayTypeChange();">
    <% @day_types.each do |d| %>
      <% if @day_id.present? %>
        <% if @day_id != d.id %>          
          <option value="<%= d.id %>"> <%= d.date_created.strftime("%A, %B %e, %Y")  %> </option>
        <% else %>
          <option value="<%= d.id %>" selected > <%= d.date_created.strftime("%A, %B %e, %Y") %> </option>
        <% end %>
      <% else %>
        <option value="<%= d.id %>"> <%= d.date_created.strftime("%A, %B %e, %Y") %> </option>
      <% end %>
        
    <% end %>
  </select>
  <table class="model-information margin-normal">
    <thead>
      <tr>
        <th>Employee</th>
        <th>Time in</th>
        <th>Time out</th>
        <th>Date</th>
        <th>Day type</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @attendances.each do |attendance| %>
        <tr>
          <td><%= link_to attendance.employee.name, employee_path(attendance.employee) %></td>
          <td><%= attendance.time_in.strftime("%I:%M %p") %></td>
          <td><%= attendance.time_out.present? ? attendance.time_out.strftime("%I:%M %p") : "" %></td>
          <td><%= attendance.day_type_name.date_created.strftime("%B %d, %Y") %></td>
          <td><%= attendance.day_type_name.regular ? "Regular Day" : "Holiday" %></td>
          <td><%= link_to 'Show', attendance %></td>
          <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
          <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= link_to 'New Attendance', new_attendance_path, class: "btn btn-primary right margin-normal"%>
<%# link_to 'Summary', attendance_summary_path, class: "btn btn-warning right margin-normal"%>


</div>
</div>


<br>

