<p id="notice"><%= notice %></p>

<p>
  <strong>Time in:</strong>
  <%= @attendance.time_in %>
</p>

<p>
  <strong>Time out:</strong>
  <%= @attendance.time_out %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @attendance.employee_id %>
</p>

<p>
  <strong>Day type:</strong>
  <%= @attendance.day_type %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
